@import url('https://fonts.cdnfonts.com/css/complete-in-him?styles=11888');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');
@import url('https://fonts.cdnfonts.com/css/pistoleer');
@import url('https://fonts.cdnfonts.com/css/helleplus32');
@import url('https://fonts.cdnfonts.com/css/alien-ai');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary-color: #fff;
    --secondary-color: #ffb135;
    --pizza-color: #CF0014;
    --promo-color: #f9aaaa;
    --dark-color: #312f2f;
    --light-color: #dcd6d6;
}

/* Header */

header{
    background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../img/pizza_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    --top: 
    linear-gradient(#000 0 0) top/100% calc(100% - 50px) no-repeat,
    radial-gradient(farthest-side,#000 98%,#0000) bottom/100px 100px no-repeat;
    -webkit-mask: var(--top);
    mask: var(--top);
}

nav{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    font-family: 'M PLUS 1 Code', sans-serif;
    color: var(--primary-color);
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 120px;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-weight: 800;
    letter-spacing: 3px;
}

.nav-redes{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.nav-menu a:hover,.nav-redes a:hover{
    color: var(--promo-color);
}

.fa-brands{
    font-size: 2rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.hero{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-family: 'Alien AI', sans-serif;
    font-size: 80px;
    color: var(--primary-color);
    margin: 0;
    letter-spacing: 10px;
}

h2{
    font-family: 'Complete in Him', sans-serif;
    font-weight: 400;
    font-size: 100px;
    color: var(--pizza-color);
}

/* Background */
.promociones, .nosotros, .menu, .sucursales, .contacto{
    background-image: linear-gradient(180deg, rgb(249,170,170),rgb(217,191,191));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 120vh;
    --bottom: radial-gradient(calc(0px + 50px) at 50% 0px,#0000 98%,#000);
    margin-top: -50px;
}

/* Tittle */
.promos__title, .menu__title, .sucursales__title, .nosotros__title, .contacto__title{
    font-size: 4.375rem;
    padding-bottom: 1rem;
    color: var(--pizza-color);
}


/* Header */
.promos__header, .nosotros__header, .menu__header, .sucursales__header, .contacto__header{
    align-self: center;
    justify-self: flex-start;
}


/* promociones */

.promos{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'M PLUS 1 Code', sans-serif;
}


.promo__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 0 0.5rem;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.522);
}

.promo__img img{
    width: 400px;
}

.promo__description{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #000;
}

.promo__title{
    color: var(--pizza-color);
    font-size: 20px;
}

.promo__link{
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color:var(--pizza-color) ;
    color:var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.522);
}

.promo__link:hover{
    opacity: 0.8;
}

.promo__text{
    padding: 0 1.5rem;
}

.promo__price{
    font-weight: bolder;
    padding: 0.5rem 0rem;
}

/* Nosotros */

.nosotros__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 2rem 0.5rem;
    width: 82%;
    height: 70vh;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.522);
}

video{
    border-radius: 5px;
    width: 40vw;
    top: 0;
}


.nosotros__description{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 1.5rem;
    color: #000;
    width: 30vw;
}
.nosotros__title-name{
    font-size: 3rem;
}

.name{
    font-family: 'Alien AI', sans-serif;
    color: var(--dark-color);
    font-size: 2rem;
}

.nosotros__subtitle{
    color: var(--dark-color);
    font-family: 'helleplus32', sans-serif;
    font-size: 1.4rem;
}

.nosotros__link{
    width: 50%;
    text-align: center;
    text-decoration: none;
    background-color:var(--pizza-color);
    color:var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.522);
}

.nosotros__link:hover{
    opacity: 0.8;
}

.nosotros__text{
    font-size: 1.3rem;
}

/* Sucursales */

.sucursales{
    min-height: 260vh;
}

.sucursales__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 3rem 0.5rem;
    width: 82%;
    flex-wrap: wrap;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.522);
}

.sucursales__images{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sucursales__img img{
    width: 30vw;
    border-radius: 5px;
}


/* Contacto */

.contacto{
    min-height: 170vh;
    font-family: 'M PLUS 1 Code', sans-serif;
}

.contacto__container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 2rem 0.5rem;
    gap: 5rem;
    width: 82%;
    height: 120vh;
    flex-wrap: wrap;
    background-color: var(--light-color);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.522);
}

.contacto__subtitle{
    font-family: 'helleplus32', sans-serif;
    font-size: 1.3rem;
    color: var(--dark-color);
}

.contacto__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    width: 30%;
}

.contacto__inputs{
    width: 100%;
}

.contacto__input{
    align-self: flex-start;
    border: none;
    height: 40px;
    outline-style: none;
    border-radius: 5px;
    width: 100%;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.522);
}

.contacto__input:not(:placeholder-shown),
.contacto__input:focus,
.contacto__textarea:not(:placeholder-shown),
.contacto__textarea:focus {
    font-size: 1rem;
    top: 0.25rem;
    transition: all 0.25s;
    padding-top: 0.25rem;
}

.contacto__textarea {
    resize: none;
    border: none;
    outline-style: none;
    border-radius: 5px;
    width: 100%;
    padding-top: 0.25rem;
    padding-left: 0.25rem;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.522);
}

.contacto__textarea::placeholder{
    padding-top: 10px;
}

.contacto__button{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: ;
    background-color:var(--pizza-color);
    color:var(--primary-color);
    padding: 1rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    box-shadow:3px 3px 3px 0px rgba(0, 0, 0, 0.522);
    border: none;
    cursor: pointer;
}

.contacto__button:hover{
    opacity: 0.8;
}

/* WhatsApp Icon */

.whatsapp{
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 80px;
}

/* Footer */

footer{
    background-color: #100212;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    height: 30vh;
    color: var(--primary-color);
    font-family: 'helleplus32', sans-serif;
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.footer-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

footer a:hover{
    color: var(--promo-color);
}
